body 
{
	font-size: 12px;
	margin: 0px;
	width: 100% !important;
	/*background-color: #DFDFDF;*/
}

.t3rdp-container 
{
	max-width: 1100px;
	width:90%;
	margin: 0px auto;
}

.t3rdp-header-black-bar 
{
	background-color: #000;
	padding: 1.0em 0px;
}

.t3rdp-header-black-bar img.t3rdp-tu-logo 
{
	margin-top: 2em;
}

.t3rdp-header-black-bar .t3rdp-site-title 
{
	float: right;
	margin: 1.25em 0px;
	font-size: 3.25em;
	text-transform: uppercase;
	font-weight: lighter;
}

.t3rdp-header-black-bar .t3rdp-site-title a 
{
	text-decoration: none;
	color: #000;
}

@media (max-width: 740px) 
{
	.t3rdp-header-black-bar .t3rdp-site-title 
	{
		float: none;
		display: block;
	}
}

.t3rdp-header-gold-bar 
{
	background-color: #ffcc00;
	/* padding: 1.5em 0px; */
	padding:4px;
}

@media (max-width: 740px) {
	.t3rdp-header-gold-bar 
	{
		padding: 4px;
	}
}
.t3rdp-main-content {
	padding: 2em 0px 2em 0px;
	/* background-color: #DFDFDF;*/
	font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #000;
}

.t3rdp-footer-bar 
{
	
	background-color: #FFCC00;
	padding: 1.0em 0px;
}

.t3rdp-clearfix:before,
.t3rdp-clearfix:after {
  content: "";
  display: table;
}

.t3rdp-clearfix:after {
  clear: both;
}

.t3rdp-clearfix {
  zoom: 1; /* ie 6/7 */
}

.t3rdp-tu-logo
 {
	display: inline-block;
	/* float: left; */
}

.t3rdp-tu-logo-container
{
	/*width: 65%;*/
	max-height:75px;
	/*max-width:185px;*/
	/* min-height:45px; */
    /* height: auto; */
	border:0px;
}


@media (max-width: 500px)
{
	.t3rdp-tu-logo 
	{
		width: 100%;
		/* padding-bottom: 10px; */
	}
	.t3rdp-tu-logo-container
	{
		/* width: 50%; */
		width: 75%;
    	height: auto;
	}
	
}



/*STYLES THE PAGE'S BODY CONTENT*/

body .masterbody {
	border-radius: 10px !important;
}

.t3rdp-header-text
{
	font-size: 15px;
	letter-spacing: .04em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #ffffff;
	margin-top:40px;
	margin-left:10px;
	margin-bottom:0px;
}


@media only screen and (max-width: 425px) 
{
    .t3rdp-header-text .t3rdp-hide-back
	{
        color: transparent;
        display: none;
		float: none;
		overflow:hidden;
		margin-top:0px;
		margin-bottom:0px;

	}
	.t3rdp-header-text 
	{
        font-size: 12px;

	}
}



@media only screen and (min-width: 740px) 
{
    .t3rdp-header-text 
	{
        float: right;
		
    }
}

.t3rdp-footer-text
{
	margin-top:5px;
	margin-left:5px;
	letter-spacing: .04em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	white-space:nowrap;
	float: left;

}

@media only screen and (max-width: 425px) 
{
    .t3rdp-footer-text .t3rdp-pad 
	{
        color: transparent;
        display: block;
		float: none;
	}
	.t3rdp-footer-text 
	{
        font-size: 10px;
		margin-top:1px;
		margin-left:5px;
		margin-bottom:0px;
	}
}

@media only screen and (min-width: 740px) 
{
    .t3rdp-footer-text 
	{
       	font-size: 15px;
	    float: right;
		margin-top:40px;
		margin-left:10px;
		margin-bottom:0px;
		white-space:nowrap;
    }
}

.t3rdp-phoneNumber {
    color: #333;
    text-decoration: none;

}